* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(229, 229, 229);
}

.todo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	height: 780px;
	box-shadow: 0px 0px 15px #b9b9b9;
	border-radius: 6px;

	&__input {
		border: none;
		margin-bottom: 25px;
		font-size: 18px;
		outline: none;
		border-bottom: 1px solid #f2f2f2;
		padding-bottom: 10px;
		width: 100%;
	}

	&__empty {
		text-align: center;
		margin-top: 50%;
		font-size: 40px;
		color: #333333;
		opacity: 0.5;
		font-weight: bold;
	}

	&__circle {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 10px;

		&-grey {
			background-color: #c9d1d3;
		}

		&-green {
			background-color: #42b883;
		}

		&-blue {
			background-color: #64c4ed;
		}

		&-pink {
			background-color: #ffbbcc;
		}

		&-lime {
			background-color: #b6e6bd;
		}

		&-purple {
			background-color: #c355f5;
		}

		&-black {
			background-color: #110133;
		}

		&-red {
			background-color: #ff6464;
		}
	}

	&__list {
		width: 340px;
		height: 780px;
		background-color: #f4f6f8;
		position: absolute;
		border-radius: 5px 0 0 5px;
		padding: 57px 20px;

		&-title {
			margin-bottom: 28px;
			color: #333333;
			display: flex;
			align-items: center;
			cursor: pointer;

			&_active {
				box-shadow: 0px 0px 15px #b9b9b9;
				border-radius: 6px;
			}

			svg {
				margin-right: 6px;
			}

			svg path {
				fill: #333;
			}
		}

		&-item {
			height: 37px;
			border-radius: 7px;
			padding: 20px 12px;
			list-style: none;
			font-size: 20px;
			display: flex;
			align-items: center;
			cursor: pointer;

			&-date {
				text-align: right;
				padding-right: 25px;
			}

			&_active {
				box-shadow: 0px 0px 15px #b9b9b9;
			}

			p {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				flex: 1;
			}

			&:hover p {
				white-space: normal;
			}

			&:hover {
				background-color: #fff;
			}

			&:hover > svg {
				display: block;
			}

			&:last-child {
				margin-bottom: 27px;
			}

			svg {
				display: none;
			}
		}
	}

	&__task {
		margin-bottom: 50px;
	}

	&__tasks {
		background-color: rgb(255, 255, 255);
		position: absolute;
		left: 340px;
		width: 660px;
		height: 780px;
		border-radius: 0 5px 5px 0;
		padding: 56px;
		overflow-y: scroll;

		&-title {
			font-size: 40px;
			line-height: 39px;
			display: flex;
			align-items: center;
			cursor: pointer;
			border-bottom: 1px solid #f2f2f2;
			padding-bottom: 20px;
			margin-bottom: 30px;

			&-grey {
				color: #c9d1d3;
			}

			&-green {
				color: #42b883;
			}

			&-blue {
				color: #64c4ed;
			}

			&-pink {
				color: #ffbbcc;
			}

			&-lime {
				color: #b6e6bd;
			}

			&-purple {
				color: #c355f5;
			}

			&-black {
				color: #110133;
			}

			&-red {
				color: #ff6464;
			}

			svg {
				margin-left: 15px;
				display: none;
			}

			&:hover svg {
				display: block;
			}
		}

		&-item {
			list-style: none;
			font-size: 20px;
			line-height: 19px;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			cursor: pointer;

			p {
				flex: 1;
			}

			&:hover > svg {
				display: block;
			}
		}
	}
}

.btn {
	display: block;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;

	&__new-folder {
		font-size: 18px;
		color: rgb(134, 134, 134);
		margin-left: 12px;

		&:hover {
			color: #000;
		}

		svg {
			margin-right: 10px;
		}
	}

	&__complete {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid #e8e8e8;
		margin-right: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover:not(.btn__complete_done) {
			background-color: #f3f3f3;
		}

		&_done {
			background-color: rgb(77, 213, 153);
			border: none;
		}

		svg {
			display: flex;
		}
	}

	&__new-task {
		font-size: 18px;
		line-height: 19px;
		color: #b4b4b4;
		margin-bottom: 40px;

		&:hover {
			color: #000;
		}

		svg {
			margin-right: 10px;
		}
	}

	&__add {
		height: 37px;
		background-color: rgb(77, 213, 153);
		border-radius: 4px;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 20px;
		text-align: center;
	}

	&__decline {
		height: 37px;
		background-color: rgb(244, 246, 248);
		border-radius: 4px;
		color: #9c9c9c;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 20px;
	}
}

.new-folder {
	width: 235px;
	height: 150px;
	border-radius: 10px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	position: absolute;
	bottom: 25px;
	left: 38px;
	z-index: 1000;
	padding: 16px;
	display: flex;
	flex-direction: column;
	display: none;

	&_open {
		display: block;
	}

	&__color-list {
		display: flex;
		justify-content: space-between;
		margin-bottom: 13px;
	}

	input[type='radio'] {
		width: 20px;
		height: 20px;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}
	}

	.btn__close {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		background-color: #5c5c5c;
		border-radius: 50%;
		position: absolute;
		top: -9px;
		right: -9px;
	}
}

.input {
	width: 100%;
	height: 32px;
	outline: none;
	border: 1px solid #efefef;
	border-radius: 4px;
	padding: 7px 10px;
	font-size: 14px;
	margin-bottom: 13px;

	&::placeholder {
		color: #c7c7c7;
	}
}

.new-task {
	display: none;

	&__button-container {
		display: flex;

		.btn__add {
			margin-right: 15px;
		}
	}

	&_open {
		display: block;
	}
}

.badge {
	width: 18px;
	height: 18px;
	border: 2px solid transparent;
	border-radius: 50%;
	cursor: pointer;

	&_active {
		border: 2px solid #000;
	}

	&-grey {
		background-color: #c9d1d3;
	}

	&-green {
		background-color: #42b883;
	}

	&-blue {
		background-color: #64c4ed;
	}

	&-pink {
		background-color: #ffbbcc;
	}

	&-lime {
		background-color: #b6e6bd;
	}

	&-purple {
		background-color: #c355f5;
	}

	&-black {
		background-color: #110133;
	}

	&-red {
		background-color: #ff6464;
	}
}
